@import 'tailwindcss';

:root {
  /* Solid fallbacks (optional) */
  --primary-start: #0179fe;
  --primary-end: #4893ff;

  /* Primary gradient */
  --primary-gradient: linear-gradient(
    90deg,
    var(--primary-start),
    var(--primary-end)
  );

  --text-secondary: #475467;
}

@theme {
  --color-primary: var(--primary-gradient);
  --color-secondary: var(--text-secondary);
  --color-gray-200: oklch(94.3% 0.011 270);
  --color-gray-500: oklch(55.6% 0.03 260);
  --color-gray-600: oklch(45.9% 0.033 260);
  --color-gray-700: oklch(36.8% 0.03 260);
}

.bg-primary {
  background: var(--primary-gradient);
}

.text-primary {
  background: var(--primary-gradient);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.input-border {
  border: 1px solid #d0d5dd;
}

.font-logo {
  font-family: var(--font-logo);
}
