@import "tailwindcss";

:root {
  /* Solid fallbacks (optional) */
  --primary-start: #0179fe;
  --primary-end: #4893ff;

  /* Primary gradient */
  --primary-gradient: linear-gradient(
    90deg,
    var(--primary-start),
    var(--primary-end)
  );
}

@theme {
  --color-primary: var(--primary-gradient);
}

.bg-primary {
  background: var(--primary-gradient);
}

.text-primary {
  background: var(--primary-gradient);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.input-border {
  border: 1px solid #d0d5dd;
}

.font-logo {
  font-family: var(--font-logo);
}
